@using System.Web.Optimization.RequireJs
<!DOCTYPE html>
<html>
<head>
    <title>Rendering for RequireJs</title>
    <script src="~/scripts/require.js"></script>
</head>
<body>

    <h1>Rendering of bundled, minified and ScriptMapped files</h1>
    <div>The text "Hello World" in red should appear under this:</div>
    <div id="container" data-bind="text: text"></div>

    <script>
        require.config({
            @RequireJs.Render("~/bundles/requirejs")
        });

        require(['domReady!', 'jquery', 'knockout'], function (doc, jaykwery, knoqueOwt) {
            function viewModel() {
                this.text = "Hello World";
            };

            knoqueOwt.applyBindings(viewModel());
            jaykwery("#container").css("color", "red");
        });
    </script>
</body>
</html>
