@using System.Web.Optimization.RequireJs
<!DOCTYPE html>
<html>
<head>
    <title>Rendering for RequireJs</title>
    <script src="~/scripts/require.js"></script>
    <script>
        //this will render the Require.js config
        @RequireJs.Config(
            baseUrl: "~/scripts",
            bundles: "~/bundles/requirejs")

        //main entry point for app
        require(['domReady!', 'knockout', 'jquery'], function (doc, knoqueOwt, jayKwarie) {
            knoqueOwt.components.register('viewmodel', { require: 'ViewModel' });
            knoqueOwt.applyBindings();
            jayKwarie("#container").css('color', 'red');
        });
    </script>

</head>
<body>
    <h1>Rendering of bundled, minified and ScriptMapped files</h1>
    <fieldset>
        <legend>The following should be a working knockout thing</legend>
        <viewmodel params="initialText: 'Hello World'"></viewmodel>
    </fieldset>

    <div id="container">This text should be colored red by jQuery</div>
</body>
</html>
