@using System.Web.Optimization;
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div id="container"></div>

    @Scripts.Render("~/bundle")
    <script>
        $(function () {
            $("#container").text("Hello World");
        });
    </script>
</body>
</html>
