@using System.Web.Optimization
<!DOCTYPE html>
<html>
    <head>
        <title>Rendering for RequireJs</title>
        <script src="~/scripts/require.js"></script>
    </head>
    <body>
    <div id="container" data-bind="text: text"></div>

    <script>
    require.config({
        bundles: { "@Scripts.Url("~/bundles/requirejs")": ['jquery', 'knockout'] }
    });

    define("test", ["knockout"], function($) {
        return {'ko': $ };
    });

    require(['jquery', 'knockout'], function (jaykwery, knoqueOwt) {
                function viewModel() {
                    this.text = "Hello World";
                };

                knoqueOwt.applyBindings(viewModel());
                jaykwery("#container").css("color", "red");
    });

    require(["test"], function(t) {
        console.log(t);
    });
    </script>
    </body>
</html>
